fastapi~=0.95.1
uvicorn

#for template
jinja2

#for static files
aiofiles

#for database   #new
sqlalchemy~=2.0.9
psycopg2

#for loading environment variables  #new
python-dotenv~=1.0.0

pandas~=2.0.1
pydantic[email]~=1.10.7
templates~=0.0.5
requests~=2.30.0
matplotlib~=3.7.1